.basic-glitch{
    position: relative;
}

.basic-glitch::before{
    position: absolute;
    color: blue;
    content: attr(title);
    top: 0;
    left: 0px;
}

.basic-glitch::after{
    position: absolute;
    color: crimson;
    content: attr(title);
    bottom: 0;
    right: 0;
}

.rbw{
    animation: rainbow 4s infinite;
}

@keyframes rainbow{
    0%{
        color:blue;
    }
    25%{
        color:green;
    }
    50%{
        color: yellow;
    }
    75%{
        color:red;
    }
    100%{
        color:purple;
    }
}